@use "@carbon/styles/scss/spacing";
@use "@carbon/styles/scss/type";
@use "@carbon/styles/scss/theme";

@import "../../_utils/long-shadow";

$base: "jd-header";
$titleBase: $base + "__title";

.#{$base} {
  color: theme.$text-primary;
  background: theme.$background;
  height: 100vh;
  position: relative;

  &--mini {
    height: 0;

    & .#{$base}__inner {
      display: none;
    }
  }

  &--redirect {
    .jd-eightbitme {
      display: none;
    }
  }

  &__inner {
    padding-top: spacing.$spacing-05;
    padding-bottom: spacing.$spacing-05;
    position: sticky;
    top: 0;
    z-index: 0;
  }

  & .jd-eightbitme {
    z-index: 2;
  }
  & .jd-nav {
    z-index: 1;
  }

  &__title {
    margin: 0;
    padding: 0;
    min-height: 42px;
  }

  &__role,
  &__name {
    display: block;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  &__name {
    @include type.type-style("heading-02");
  }

  &__role {
    @include type.type-style("body-compact-01");
  }
}

.#{$titleBase} {
  position: relative;

  &-skeleton {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
    height: 100%;
    width: 100%;
    max-width: spacing.$spacing-03 * 22;
    visibility: visible;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;

    & .cds--skeleton__text {
      margin: (spacing.$spacing-03 / 2) 0;
      width: 100%;

      &:first-child {
        width: 50% !important;
      }
    }
  }

  &--active {
    .#{$titleBase}-skeleton {
      opacity: 0;
      visibility: hidden;
    }

    .#{$base}__role,
    .#{$base}__name {
      opacity: 1;
    }
  }
}
