@use "@carbon/styles/scss/theme";
@use "@carbon/styles/scss/colors";
@use "@carbon/styles/scss/spacing";

.jd-education {
    &__title {
        margin-top: 0;
        margin-bottom: spacing.$spacing-03 * 4;
    }

    &__list {
        list-style-type: none;
        margin: 0;
        padding: 0;

        > .jd-list__item {
            margin-bottom: spacing.$spacing-03;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
