@use "@carbon/styles/scss/spacing";
@use "@carbon/styles/scss/type";
@use "@carbon/styles/scss/theme";

.jd-work {
  $sectionPadding: spacing.$spacing-03 * 8;
  margin-top: $sectionPadding * -1;
  padding: $sectionPadding * 2 0;

  &__title {
    margin: 0;
    padding: 0;
    padding-bottom: $sectionPadding / 2;
  }
}
