@use '@carbon/styles/scss/theme';

$base: 'jd-eightbitme';

.#{$base} {
    $px: 1em;
    $columns: 17 * $px;
    $rows: 12 * $px;
    $top: 0;
    $left: 0;
    $hair-base: #493E3E;
    $hair-highlight: #6F6767;
    $hair-shadow: #262014;
    $skin-base: #DEBAAD;
    $skin-highlight: #E6CFC5;
    $skin-shadow: #C59990;
    $eye: #5268A7;
    $eye-white: #ddd;

    @import './mixins';

    position: fixed;
    top: 0;
    right: 50%;
    transform: translate(50%, 0);
    font-size: 16px;
    height: 100%;
    width: auto;
    display: grid;
    user-select: none;
    aspect-ratio: 1 / 1;

    &--active {
        .#{$base} {
            &__inner {
                opacity: 1;
                transform: scale(1) rotate(0deg);
            }

            &__bg {
                height: 100%;
                width: 100%;
            }
        }
    }

    &__inner {
        display: grid;
        opacity: 0;
        transform: scale(0) rotate(360deg);
        transition: transform 1s ease-in-out, opacity .5s ease-in-out;
    }

    &__bg {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 0;
        width: 0;
        z-index: -1;
        background: theme.$background;
        border-radius: 50%;
        transform: scale(0) translate(50%, 50%);
        transform-origin: top left;
        transition: height .5s ease-in-out, width .5s ease-in-out;
    }

    &__avatar {
        height: $columns;
        width: $rows;
        margin: auto;
        cursor: pointer;
        position: relative;

        .hair-wind {
            background: transparent;
            margin-top: 0;
            width: $px;
            height: $px;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            @include hairWindBase();

            animation: wind .35s;
            animation-iteration-count: infinite;
        }

        .eyes {
            background: transparent;
            position: absolute;
            left: 0;
            top: 0;
            margin-top: 0;
            width: $px;
            height: $px;
            display: block;
            @include eyebrows(3);

            &:before,
            &:after {
                animation: blinking 4s;
                animation-iteration-count: infinite;
            }

            &:before {
                content: '';
                width: $px;
                height: 100%;
                display: block;
                @include eyeWhites(3);
            }

            &:after {
                content: '';
                position: absolute;
                top: 0;
                width: $px;
                height: 100%;
                display: block;
                @include iris(3.5); // looking straight ahead
            }

        }

        &:not(.right, .left, .up, .down) .eyes::after {
            @include iris(4, -1); // cross eyed
        }

        &:active {
            animation: poking-shake .25s;
            animation-iteration-count: infinite;

            .eyes::after {
                left: 0 !important;
                @include iris(3, 1); // eyes out on click
            }
        }

        &.down:not(.right, .left) .hair-wind {
            top: 2 * $px;
        }

        &.left .eyes {
            left: -1 * $px;

            &:after {
                left: -.5 * $px; // look left
            }
        }

        &.right .eyes {
            left: 1 * $px;

            &:after {
                left: .5 * $px; // look right
            }
        }

        &.up:not(.right, .left) .eyes {
            top: -1 * $px;
        }

        &.down:not(.right, .left) .eyes {
            top: 1 * $px;
        }

        &::before {
            content: '';
            background: transparent;
            width: $px;
            height: $px;
            display: block;
            @include avatarLookingStraight();
        }

        &.left::before {
            @include avatarLookingLeft();
        }

        &.right::before {
            @include avatarLookingRight();
        }

        &.up:not(.right, .left)::before {
            @include avatarLookingUp();
        }

        &.down:not(.right, .left)::before {
            @include avatarLookingDown();
        }

        &.up.right {
            transform: rotate(-10deg);
        }

        &.up.left {
            transform: rotate(10deg);
        }

        &.down.right {
            transform: rotate(10deg);
        }

        &.down.left {
            transform: rotate(-10deg);
        }
    }
}