@use "@carbon/styles/scss/spacing";
@use "@carbon/styles/scss/type";
@use "@carbon/styles/scss/theme";
@use "@carbon/styles/scss/colors";
@use "@carbon/styles/scss/breakpoint" as *;

.jd-experience {
    position: relative;
    background: #000;

    &__header {
        padding-bottom: 0 !important;

        .jd-slant__bg {
            background: linear-gradient(
                -45deg,
                theme.$layer-01,
                theme.$background
            );
            background: colors.$black;
        }

        @media (min-width: (spacing.$spacing-03 * 106)) {
            .jd-slant__content {
                top: 2rem;
            }
        }
    }

    &__title {
        margin: 0;
    }

    &__bottom {
        min-height: 100vh;
        display: grid;

        .jd-slant__content {
            margin: auto 0;
        }

        .jd-slant__bg {
            background: theme.$background;
            background: linear-gradient(
                0deg,
                theme.$layer-01,
                theme.$background
            );
        }

        .jd-education {
            margin-bottom: spacing.$spacing-03 * 6;
        }

        @include breakpoint("lg") {
            .jd-education {
                margin-bottom: 0;
            }
        }

        @media print {
            min-height: auto;
        }
    }
}
