@use "@carbon/styles/scss/spacing";
@use "@carbon/styles/scss/type";
@use "@carbon/styles/scss/theme";

$base: "jd-nav";

// - [] build in elements one at a time on open at least
// - [] scroll if screen is too small

.#{$base} {
  visibility: hidden;
  float: right;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  transition: visibility 0s 0.5s linear; // out

  .jd-close {
    position: fixed;
    right: 0;
    top: 0;
  }

  &__inner {
    $eightbitmeTop: spacing.$spacing-03;
    $eightbitmeHeight: (spacing.$spacing-03 * 25);

    opacity: 0;
    height: 100%;
    overflow: auto;
    z-index: 1;
    position: relative;
    padding-top: $eightbitmeTop + $eightbitmeHeight + (spacing.$spacing-03 * 2);
    padding-bottom: spacing.$spacing-03 * 8;
    transition: opacity 0.25s ease-in-out; // out

    &::before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      height: $eightbitmeTop + $eightbitmeHeight + (spacing.$spacing-03 * 2);
      width: 100%;
      background: linear-gradient(theme.$layer-01 90%, transparent 100%);
    }
  }

  &__bg {
    z-index: 0;
    background: theme.$layer-01;
    height: 2px;
    width: 0;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: width 0.125s 0.375s ease-in-out, height 0.125s 0.25s ease-in-out; // out
  }

  &--open {
    visibility: visible;
    transition: visibility 0s 0s linear; // in

    .#{$base} {
      &__inner {
        opacity: 1;
        transition: opacity 0.5s 0.5s ease-in-out; // in
      }

      &__bg {
        height: 100%;
        width: 100%;
        transition: width 0.125s ease-in-out, height 0.125s 0.125s ease-in-out; // in
      }
    }
  }

  &__header {
    margin-bottom: (spacing.$spacing-03 * 4);
  }

  &__name,
  &__role {
    text-align: center;
    padding: 0;
    margin: 0;
  }

  &__name {
    @include type.type-style("heading-04");
    font-weight: bold;
  }

  &__role {
    @include type.type-style("heading-03");
  }

  &__items,
  &__item {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  &__link {
    color: theme.$text-secondary;
    text-decoration: none;
    text-align: center;
    border-radius: spacing.$spacing-03;
    padding: spacing.$spacing-03;
    @include type.type-style("heading-04");
    display: block;
    outline: none;
    box-shadow: inset 0 0 0 0 theme.$border-interactive;
    transition: background 0.2s ease-in-out, color 0.2s ease-in-out,
      box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;

    &:focus {
      box-shadow: inset 0 0 0 2px theme.$border-interactive;
    }

    &:hover {
      color: theme.$text-primary;
      background: linear-gradient(
        to right,
        transparent,
        theme.$background-hover,
        transparent
      );
      transform: scale(1.1);
    }

    &:active {
      background: theme.$background-active;
      transform: scale(1);
    }
  }

  &__social-items,
  &__social-item {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__social-items {
    text-align: center;
    margin-top: spacing.$spacing-03 * 4;
  }

  &__social-item {
    display: inline-block;
  }

  &__social-link {
    padding: spacing.$spacing-03;
    color: theme.$text-secondary;
    display: block;
    border-radius: spacing.$spacing-03;
    outline: none;

    svg {
      display: block;
    }

    &:focus {
      box-shadow: inset 0 0 0 3px theme.$border-interactive;
    }

    &:hover {
      color: theme.$text-primary;
      background: theme.$background-hover;
      transform: scale(1.1);
    }

    &:active {
      background: theme.$background-active;
      transform: scale(1);
    }
  }
}
