@use "@carbon/styles/scss/spacing";
@use "@carbon/styles/scss/type";
@use "@carbon/styles/scss/theme";

$base: jd-portfolio-card;

.#{$base} {
  background: theme.$layer-01;
  border-radius: spacing.$spacing-03;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  position: relative;
  transition: transform 0.5s ease-in-out, background 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out;

  &:hover {
    transform: scale(1.025);
    background: theme.$layer-hover-01;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.5);

    .jd-skills {
      .cds--tag {
        opacity: 1;
        transform: translateX(spacing.$spacing-03);
      }
    }
  }

  &__cover {
    height: auto;
    width: 100%;
    aspect-ratio: 2 / 1;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    padding: spacing.$spacing-03 * 2;
    padding-bottom: spacing.$spacing-03;
  }

  &__title {
    margin: 0;
    padding: 0;
    color: theme.$text-primary;
    margin-bottom: spacing.$spacing-03 / 2;
    @include type.type-style("heading-compact-01");
  }

  &__description {
    color: theme.$text-secondary;
    margin: 0;
    padding: 0;
    margin-bottom: spacing.$spacing-03;
    @include type.type-style("body-compact-01");

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  &__actions {
    margin-top: spacing.$spacing-03 * 3;
    text-align: right;

    li {
      margin-left: spacing.$spacing-03 * 2;
      display: inline-block;
    }

    a {
      width: 100%;
    }

    svg {
      margin-right: spacing.$spacing-03 / 2;
    }
  }

  .jd-skills {
    position: absolute;
    z-index: 1;
    top: spacing.$spacing-03 / 2;
    left: 0;

    .cds--tag {
      @include type.type-style("label-01");
      margin-left: 0;
      opacity: 0;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
      transform: translateX(spacing.$spacing-03 / 2);
      transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    }
  }
}
