@use "@carbon/styles/scss/grid";
@use "@carbon/styles/scss/type";
@use "@carbon/styles/scss/colors";
@use "@carbon/styles/scss/spacing";
@use "@carbon/styles/scss/themes" as *;
@use "@carbon/styles/scss/theme";

@use "@carbon/styles/scss/components/link";
@use "@carbon/styles/scss/components/button";
@use "@carbon/styles/scss/components/loading";
@use "@carbon/styles/scss/components/skeleton-styles";
@use "@carbon/styles/scss/components/search";
@use "@carbon/styles/scss/components/tag";

@include grid.flex-grid();
@include type.reset();

* {
  box-sizing: border-box;
}

:root {
  @include theme.theme($g100);
}

[data-carbon-theme="g10"] {
  @include theme.theme($g10);
}

[data-carbon-theme="g90"] {
  @include theme.theme($g90);
}

[data-carbon-theme="g100"] {
  @include theme.theme($g100);
}

html,
body {
  scroll-behavior: smooth;
  min-height: 100%;
  position: relative;
  padding: 0;
  margin: 0;
  color: theme.$text-primary;
  background: theme.$background;

  @include type.type-style("body-02");
}

.jd-body--noscroll {
  overflow: hidden;
}

.jd-body__section-title {
  @include type.type-style("heading-03");
  font-weight: bold;
  color: theme.$text-secondary;
}

::selection {
  background: colors.$yellow-20;
  color: colors.$warm-gray-90;
}

img {
  max-width: 100%;
  display: block;
}

.cds--btn {
  border-radius: spacing.$spacing-03;
}
