@use "@carbon/styles/scss/themes" as *;
@use "@carbon/styles/scss/theme";

$cotton: #fffaf3;

#experience-klaviyo {
    @include theme.theme($white);
    color: theme.$text-primary;

    .jd-slant__bg {
        background: $cotton !important;
    }
}
