@use "@carbon/styles/scss/colors";
@use "@carbon/styles/scss/themes" as *;
@use "@carbon/styles/scss/theme";

.jd-skills {
  .cds--tag {
    background: colors.$yellow-20;
    color: colors.$warm-gray-100;
    margin-left: 0;
  }

  ::selection {
    background: colors.$blue-50;
    color: colors.$white;
  }
}
