@use "@carbon/styles/scss/spacing";
@use "@carbon/styles/scss/type";
@use "@carbon/styles/scss/theme";
@use "@carbon/styles/scss/breakpoint" as *;

$base: jd-portfolio-grid;

.#{$base} {
  &__items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    column-gap: spacing.$spacing-03 * 4;

    @include breakpoint("md") {
      columns: 2;
    }

    @include breakpoint("lg") {
      columns: 3;
    }
  }

  &__item {
    margin-bottom: spacing.$spacing-03 * 2;
    opacity: 0 !important;
    display: inline-block;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;

    .#{$base}--active & {
      opacity: 1 !important;
      visibility: visible;
    }

    @include breakpoint("md") {
      margin-left: spacing.$spacing-03 * 2 * -1;
    }
  }

  &__empty {
    text-align: center;
    width: 80%;
    max-width: spacing.$spacing-03 * 50;
    margin: spacing.$spacing-03 * 10 auto;
    opacity: 0;
    visibility: hidden;
    @include type.type-style("heading-03");
    color: theme.$text-secondary;
    transition: opacity 0.5s 0.5s ease-in-out, visibility 0.5s 0.5s ease-in-out;

    .#{$base}--active & {
      opacity: 1 !important;
      visibility: visible;
    }
  }
}

.jd-portfolio-grid__loading {
  position: relative;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;

  .jd-portfolio-grid--active & {
    opacity: 0;
    visibility: hidden;
  }

  &__inner {
    position: absolute;
    z-index: 1;
    width: 100%;
  }

  .cds--skeleton__placeholder {
    width: auto;
    margin-bottom: spacing.$spacing-03 * 2;
    border-radius: spacing.$spacing-03;
    overflow: hidden;
    min-height: spacing.$spacing-03 * 30;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);

    @include breakpoint("md") {
      margin-left: spacing.$spacing-03 * -2;
    }

    &:first-child {
      min-height: spacing.$spacing-03 * 32;
    }

    &:last-child {
      min-height: spacing.$spacing-03 * 35;
    }
  }
}
