@use "@carbon/styles/scss/spacing";
@use "@carbon/styles/scss/theme";

.jd-fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;

  &.visible {
    opacity: 1;
  }
}

.jd-main {
  $padding: spacing.$spacing-03 * 8;

  & + .jd-slant {
    padding-bottom: 0;
  }
}
